<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des entreprise</title>
    <link rel="stylesheet" href="{{asset("node_modules/bootstrap/dist/css/bootstrap.css")}}">
</head>
<body>
<div class="row">
    {%set color=['bg-success','bg-primary','bg-danger','bg-warning']%}
{%set i=0 %}
    {% for entreprise in entreprises %}
{%set i= (i+1)%4 %}
        <div class="card text-white {{color[i]}} mb-3" style="max-width: 18rem;">
            <div class="card-header">{{entreprise.getDesignation}}</div>
                <div class="card-body">
                <div class="card-title ">{{ entreprise.getPves()|length}}. </div>
{#                <a href="{{path('personne.detail',{id : personne.id})}}" class="card-link">detail</a>#}
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>
