<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des pfe</title>
    <link rel="stylesheet" href="{{asset("node_modules/bootstrap/dist/css/bootstrap.css")}}">
</head>
<body>
<div class="row">
    {% for pfe in pfes %}


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> {{ pfe.getTitre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">etudiant : {{ pfe.etudiant }} </h6>
            <p class="card-text">entreprise : {{ pfe.entreprise}}.</p>
{#            <a href="{{path('personne.detail',{id : personne.id})}}" class="card-link">detail</a>#}
        </div>
    </div>
    {% endfor %}
    </div>
</body>
</html>